.body {
}
.card {
  background: white;
  box-shadow: 0 2px 8px rgb(10, 10, 10);
  border-radius: 10px;
  padding: 10px;
  width: 80.333%;
  word-wrap: break-word;
  box-sizing: border-box;
  border: 1px solid #ccc;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background: white;
  width: 30%;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  padding: 10px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  padding: 10px;
  grid-gap: 10px;
}
.griditem {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
